/* Version warning banner */
#version-warning {
  top: 0;
  position: sticky;
  z-index: 60;
  width: 100%;
  height: 2.5rem;
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: rgba(237, 182, 65, 0.1);
  border-bottom: 2px solid #EDB641;
}

html.dark #version-warning,
body:not([data-theme="light"]) #version-warning {
  background-color: rgba(237, 182, 65, 0.15);
}

/* Breaking change badge */
.breaking-change {
  font-variant: all-small-caps;
  margin-left: 0.4rem;
  color: #D4A438;
}
